option_settings:
 aws:elasticbeanstalk:container:php:phpini:
   document_root: /public
   composer_options: --no-dev
 aws:elasticbeanstalk:application:environment:
   APP_ENV: production
   APP_NAME: gmc-finances
   APP_KEY: "CHANGEME_SET_VIA_EB_CONSOLE"
   DB_HOST: "CHANGEME_SET_VIA_EB_CONSOLE"
   APP_ENV: production
   DB_PORT: 3306
   DB_DATABASE: gmcdb
   DB_USERNAME: "CHANGEME_SET_VIA_EB_CONSOLE"
   DB_PASSWORD: "CHANGEME_SET_VIA_EB_CONSOLE"
   JWT_SECRET: "CHANGEME_SET_VIA_EB_CONSOLE"
   APP_URL: "http://app-backend-gmc-env.eba-8p8j6fqe.us-east-1.elasticbeanstalk.com/"
   APP_ENV: local
   API_PREFIX: api
   API_DEBUG: true
   APP_DEBUG: true
   LOG_CHANNEL: daily
   APP_LOG_MAX_FILES: 30
   APP_LOG_FILE_NAME: "flashpay.log"
   S3_LOG_BUCKET: "flashpay-log-backup"
   AWS_ACCESS_KEY_ID: "CHANGEME_SET_VIA_EB_CONSOLE"
   AWS_SECRET_ACCESS_KEY: "CHANGEME_SET_VIA_EB_CONSOLE"
   AWS_REGION: "us-east-1"
   QUEUE_DRIVER: database
   SECRET_KEY: "CHANGEME_SET_VIA_EB_CONSOLE"